*target/

**/*.rs.bk

# Log files
*log.*

# Temp files
*.tmp
*.temp

# Env file
.env

# Config files
config.toml
config.json

# Cache files
.*cache.*

# Note/draft files
NOTES*

# Generated html files for live previewing markdown
*.html

.DS_Store
.idea

ui/quetty.log
*.log
